@theme {
  --color-grass-1: #fbfefb;
  --color-grass-2: #f5fbf5;
  --color-grass-3: #e9f6e9;
  --color-grass-4: #daf1db;
  --color-grass-5: #c9e8ca;
  --color-grass-6: #b2ddb5;
  --color-grass-7: #94ce9a;
  --color-grass-8: #65ba74;
  --color-grass-9: #46a758;
  --color-grass-10: #3e9b4f;
  --color-grass-11: #2a7e3b;
  --color-grass-12: #203c25;
  --color-grassdark-1: #0e1511;
  --color-grassdark-2: #141a15;
  --color-grassdark-3: #1b2a1e;
  --color-grassdark-4: #1d3a24;
  --color-grassdark-5: #25482d;
  --color-grassdark-6: #2d5736;
  --color-grassdark-7: #366740;
  --color-grassdark-8: #3e7949;
  --color-grassdark-9: #46a758;
  --color-grassdark-10: #53b365;
  --color-grassdark-11: #71d083;
  --color-grassdark-12: #c2f0c2;
}

@utility bg-grass-app {
  @apply bg-grass-1 dark:bg-grassdark-1;
}

@utility bg-grass-subtle {
  @apply bg-grass-2 dark:bg-grassdark-2;
}

@utility bg-grass-ui {
  @apply bg-grass-3 dark:bg-grassdark-3 hover:bg-grass-4 dark:hover:bg-grassdark-4 active:bg-grass-5 dark:active:bg-grassdark-5;
}

@utility bg-grass-ghost {
  @apply bg-transparent dark:bg-transparent hover:bg-grass-3 dark:hover:bg-grassdark-3 active:bg-grass-4 dark:active:bg-grassdark-4;
}

@utility bg-grass-action {
  @apply bg-grass-4 dark:bg-grassdark-4 hover:bg-grass-5 dark:hover:bg-grassdark-5 active:bg-grass-6 dark:active:bg-grassdark-6;
}

@utility bg-grass-solid {
  @apply bg-grass-9 dark:bg-grassdark-9 hover:bg-grass-10 dark:hover:bg-grassdark-10;
}

@utility border-grass-dim {
  @apply border-grass-6 dark:border-grassdark-6;
}

@utility border-grass-normal {
  @apply border-grass-7 dark:border-grassdark-7 hover:border-grass-8 dark:hover:border-grassdark-8;
}

@utility divide-grass-dim {
  @apply divide-grass-6 dark:divide-grassdark-6;
}

@utility divide-grass-normal {
  @apply divide-grass-7 dark:divide-grassdark-7 hover:divide-grass-8 dark:hover:divide-grassdark-8;
}

@utility text-grass-dim {
  @apply text-grass-11 dark:text-grassdark-11;
}

@utility text-grass-normal {
  @apply text-grass-12 dark:text-grassdark-12;
}
