@theme {
  --color-sky-1: #f9feff;
  --color-sky-2: #f1fafd;
  --color-sky-3: #e1f6fd;
  --color-sky-4: #d1f0fa;
  --color-sky-5: #bee7f5;
  --color-sky-6: #a9daed;
  --color-sky-7: #8dcae3;
  --color-sky-8: #60b3d7;
  --color-sky-9: #7ce2fe;
  --color-sky-10: #74daf8;
  --color-sky-11: #00749e;
  --color-sky-12: #1d3e56;
  --color-skydark-1: #0d141f;
  --color-skydark-2: #111a27;
  --color-skydark-3: #112840;
  --color-skydark-4: #113555;
  --color-skydark-5: #154467;
  --color-skydark-6: #1b537b;
  --color-skydark-7: #1f6692;
  --color-skydark-8: #197cae;
  --color-skydark-9: #7ce2fe;
  --color-skydark-10: #a8eeff;
  --color-skydark-11: #75c7f0;
  --color-skydark-12: #c2f3ff;
}

@utility bg-sky-app {
  @apply bg-sky-1 dark:bg-skydark-1;
}

@utility bg-sky-subtle {
  @apply bg-sky-2 dark:bg-skydark-2;
}

@utility bg-sky-ui {
  @apply bg-sky-3 dark:bg-skydark-3 hover:bg-sky-4 dark:hover:bg-skydark-4 active:bg-sky-5 dark:active:bg-skydark-5;
}

@utility bg-sky-ghost {
  @apply bg-transparent dark:bg-transparent hover:bg-sky-3 dark:hover:bg-skydark-3 active:bg-sky-4 dark:active:bg-skydark-4;
}

@utility bg-sky-action {
  @apply bg-sky-4 dark:bg-skydark-4 hover:bg-sky-5 dark:hover:bg-skydark-5 active:bg-sky-6 dark:active:bg-skydark-6;
}

@utility bg-sky-solid {
  @apply bg-sky-9 dark:bg-skydark-9 hover:bg-sky-10 dark:hover:bg-skydark-10;
}

@utility border-sky-dim {
  @apply border-sky-6 dark:border-skydark-6;
}

@utility border-sky-normal {
  @apply border-sky-7 dark:border-skydark-7 hover:border-sky-8 dark:hover:border-skydark-8;
}

@utility divide-sky-dim {
  @apply divide-sky-6 dark:divide-skydark-6;
}

@utility divide-sky-normal {
  @apply divide-sky-7 dark:divide-skydark-7 hover:divide-sky-8 dark:hover:divide-skydark-8;
}

@utility text-sky-dim {
  @apply text-sky-11 dark:text-skydark-11;
}

@utility text-sky-normal {
  @apply text-sky-12 dark:text-skydark-12;
}
